#navIcon {
  margin: 0 0 0 auto;
  width: 2.5rem;
  position: relative;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
  user-select: none;
}

#navIcon span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

#navIcon span:nth-child(1) {
  top: 0;
}

#navIcon span:nth-child(2), #navIcon span:nth-child(3) {
  top: 14px;
}

#navIcon span:nth-child(4) {
  top: 28px;
}

#navIcon.open span:nth-child(1) {
  top: 14px;
  width: 0;
  left: 50%;
}

#navIcon.open span:nth-child(2) {
  transform: rotate(45deg);
}

#navIcon.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#navIcon.open span:nth-child(4) {
  top: 14px;
  width: 0;
  left: 50%;
}
