.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'News Cycle', sans-serif;
}

.image {
  flex-grow: 1;
  flex-basis: auto;
  margin: 0 3rem;
}

.image img {
}

.interests {
  flex-grow: 1;
}

.interests ul {
  list-style-type: lower-greek;
}

.interestsTitle {
  display: block;
}

@media (min-width: 768px) {
  .interests {
    padding-top: 3rem;
  }
}
